[submodule "vendor/rubocop"]
	path = vendor/rubocop
	url = https://github.com/rubocop/rubocop.git
[submodule "vendor/rubocop-performance"]
	path = vendor/rubocop-performance
	url = https://github.com/rubocop/rubocop-performance.git
[submodule "vendor/rubocop-rails"]
	path = vendor/rubocop-rails
	url = https://github.com/rubocop/rubocop-rails.git
[submodule "vendor/rubocop-rspec"]
	path = vendor/rubocop-rspec
	url = https://github.com/rubocop/rubocop-rspec.git
[submodule "vendor/rubocop-factory_bot"]
	path = vendor/rubocop-factory_bot
	url = https://github.com/rubocop/rubocop-factory_bot.git
[submodule "vendor/rubocop-rspec_rails"]
	path = vendor/rubocop-rspec_rails
	url = https://github.com/rubocop/rubocop-rspec_rails.git
[submodule "vendor/rubocop-ast"]
	path = vendor/rubocop-ast
	url = https://github.com/rubocop/rubocop-ast.git
[submodule "vendor/rubocop-rake"]
	path = vendor/rubocop-rake
	url = https://github.com/rubocop/rubocop-rake.git
